body {
    background-color: #eee !important;    
}

/* Section globale */

#grosDiv {
    background-color: #eee;
    padding-top: 40px;
    padding-left: 40px; 
    padding-right:20px;
    float:left;
    height:100%;
    width: 100%;
}

/* Section thermometre */

#thermo {
    padding-top: 100px;
    width:25%;
    float: left;
    height: 100%;
}

.progress {
    transform: rotate(-90deg);
    border: solid 1px;
    border-color: #7B899C;
    width: 150px;
}

.progress-bar {
    background-image: none !important;
    background-color:#A40000 !important;
}

#temperatureInterieure {
    transform: rotate(180deg);
}

#texteThermometre {
    padding-left: 40px;
    padding-top: 50px;
}

/* Section centrale */

#info{
   width:30%;
   float: left;
   padding-left: 30px;
   padding-top: 100px;
}

#infoChauffage {
    padding-right: 10px;
}
  
.colGauche {
    padding-right: 20px;
}

/* Section thermostat */

#conteneurThermostat{
    text-align: left;
    display: inline-block;
    float: right;
    width: 30%;
}

#glisseur {
    padding-right: 5px;
    width: 10px;
    padding-top: 30px;
    float: left;
}

#thermostat {
    height: 150px;
    width:7px;
}

#conteneurEchelle{
    text-align:left;
    margin-top: 48px;
}

.echelle {
    height: 30px;
}

#texteThermostat {
    padding-left: 160px;
    float: right;
    text-align: center;
    width: 70%;
}
